*.sw?
*.pyc

build
dist
doc/build/
docs/_build
*.egg-info

.project.vip

venv
venv-*

.agignore
.coverage

/napixd_id
/auto
/conf/
/stores/
/log/

napix
permissions
.tox
xunit
paver
nosetests.xml
coverage.xml
archive-test/
flake8.log
napixd/web
requirements.txt
