#console-body {
    min-height : 380px;
    overflow: auto;
}
.explorer-content {
    padding-left : 10px;
}
.selected {
  font-weight: bold;
}
.json ul {
    margin:0;
    padding:0;
    margin-left: 5px;
}
.json dl , .json dd {
    margin : 0;
}
.json dt {
    font-weight : normal;
    margin-left: 5px;
    border-left: 1px dotted;
    padding: 4px;
}
.json li {
    list-style: none;
}
.json label {
    display : inline;
}
.json-key {
    color : red;
}
.json-simple {
    color: blue;
}
.json-edit-body textarea {
    width : 300px;
    height: 150px;
}
